
/* Your CSS Code here. */
.holder{
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-template-rows:repeat(2,1fr);
	border:1px solid black;
	
	
}
.item{
	border:1px solid black;
	height:100px;
	width:100px;
}
